@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

$purple : #9334C5;
$pink: #f2709c; 
$heading-font: 'Kaushan Script', cursive;

body {
  font-family: "Rubik", sans-serif !important;
  // background: #ffeeee; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #ddefbb,
  //   #ffeeee
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #ddefbb,
  //   #ffeeee
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbarMenu {
  // position: fixed;
  width: 100%;
  z-index: 10;
  background: linear-gradient(to right, #aaaaff, #fcbaf8);
  overflow: hidden;
  padding: 0.5em;
  border-bottom: 1px solid #fd80f5;
}
.navWide {
  display: flex;
  justify-content: space-between;
}
.wideDiv {
  display: flex;
  align-items: center;
}
.hyperLink {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}
.item {
  font-weight: bold;
  padding: 15px;
  &:hover {
    color: $pink; 
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
}
.navNarrow {
  i {
    float: left;
    cursor: pointer;
    color: #fff;
  }

  .narrowLinks {
    display: none;
  }
}

.hero-image{
  background-image: url("https://res.cloudinary.com/dkksvxoms/image/upload/c_scale,w_1700/v1578373076/Salon-n-Spa/annie-spratt-Zxl_m4KVZDs-unsplash_dw2atd.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

h1{
  color: $purple;
  font-family: $heading-font;
}

.design-line{
  width: 5%;
  height: 1px;
  background-color: #918dca;;
}

.rose{
  background: url('https://res.cloudinary.com/dkksvxoms/image/upload/v1578376275/Salon-n-Spa/rose_lbfe2k.png');
  background-size: contain;
  display: flex;
  width: 50px;
  height: 50px;
}

.about-images-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-image{
  border-radius: 100%;
  margin-top: 4%;
  width: 250px;
  height: 250px;
  border: 10px solid  #aaaaff;
}

.service-image{
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.check-icon{
  height: 25px;
  width: 25px;
  margin-right: 5px;
  background-size: cover;

}

.service-option{
  font-size: 18px;
  line-height: 10px;
}

.colored-wrapper{
  background: linear-gradient(to right, #aaaaff, #fcbaf8);
}

.button-contain{
  display: flex;
  justify-content: center;
}

.appointment-button{
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
  color: $pink;
  background-color: #f5f5f5;
  border-radius: 40px;
  &:hover {
    color: #f5f5f5; 
    background-color: $purple;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
  }
  &:focus{
    outline: none;
  }
}

.header-underline{
  @media(max-width: 768px){
    display: none;
  }
}

.gallery-images{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.gallery-picture{
  padding: 30px;
}

.contact-container{
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right, #aaaaff, #fcbaf8);
  text-align: center;
  border-radius: 10px;
  padding: 3%;
}

.contact-wrap{
  border-right: 2px solid #f5f5f5;
}

.wrapper-footer{
  border-top: 5px solid  #aaaaff;
  margin-top: -4%;
}

.wrapper-footer-other{
  border-top: 5px solid  #aaaaff;
  margin-top: 4%;
  height: 22vh;
}
.content-wrapper{
  display: flex;
}
.information{
  width: 50%;
}
.footer-text{
  color: #0f0334;
  text-align: left;
  a.hyperLink{
    color: #9334C5;
    :hover{
      color: #f2709c;
    }
  }
}
.blog-cards{
  display: flex;
  // padding: 30px;
  flex-wrap: wrap;
}
.card{
  height: auto;
  width: 300px;
  padding: 15px;
  margin: 40px auto 0px auto;
}
.portfolioFilter {
  padding: 15px 0;
}

.portfolioFilter a {
  margin-right: 6px;
  color: #666;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 4px 15px;
  border-radius: 50px;
  display: inline-block;
}

.portfolioFilter a.current {
  background: #9334C5;
  border: 1px solid #9334C5;
  color: #f9f9f9;
}